{% extends 'posts/base.html' %}

{% block title %}Acerca de{% endblock %}

{% block content %}
    <h1>Acerca de este blog</h1>

    <h2>Sobre el autor</h2>
    <p>
        Mi nombre es Federico, tengo 20 años y soy un estudiante de ingeniería física/matemática el cual se encuentra aprendiendo python.
    </p>

    <h2>Propósito del sitio</h2>
    <p>
        El objetivo de este sitio es aprender sobre como crear una web utilizando el framework Django.
        Eventualmente se ira mejorando.
    </p>
{% endblock %}